<br><br><br><br>
<h1>Manage Profile</h1>


<!-- <form role="form" #myForm="ngForm" (ngSubmit)="FormValidation(myForm.value)">
  <div class="box">
      <h2 style="color: rgb(124, 8, 8);"><b>{{userProfileData.EmailId}}</b></h2>
      <div class="container" style="text-align: left">
          <label><b>Email Address</b></label><br>
          <div>{{this.userProfileData.EmailId}}</div>
          <label><b>Phone Number</b></label><br>
          <div>+91 {{this.userProfileData.MobileNo}}</div>
          <button type="submit" routerLink="/editprofile/{{this.userProfileData.UserId}}">Edit Profile</button><br>
          <button type="button"  class="cancelbtn" routerLink="/MyOrder">My Order</button><br>
          <b style="position: absolute; left: 83px;">{{msg}}</b>
      </div>
  </div>
</form> -->

 

 <div class="bg-img">
  <br>
 <h1 style="color: white; padding-left: 20px;">User's profile mgmnt</h1>

 <div class="content">        
    <form #myFrom ="ngForm" (ngSubmit)="update(myFrom.value)"> 
       <label for="name"><b>Name</b></label>
       <input [(ngModel)]="userObj.name" type="text"  name="name" required class="form-control" >
   
       <label for="emailId"><b>Email</b></label>
       <input [(ngModel)]="userObj.emailId" readonly type="email"  name="emailId" required class="form-control" ><br>
       
       <label for="mobile"><b>Mobile No</b></label>
       <input [(ngModel)]="userObj.mobile" readonly type="number"  name="mobile" required class="form-control" ><br>

       <label for="password"><b>Current Password</b></label>
       <input ngModel type="password" name="password" required class="form-control" >
       
       <label for="NewPassword"><b>New Password</b></label>
       <input ngModel type="password" name="NewPassword" required class="form-control" >
     
       <label for="CnfPassword"><b>Confirm Password</b></label>
       <input ngModel type="password" name="CnfPassword" required class="form-control" > <br>
       <div style="padding-left: 450px;">
          <button type="submit" class="btn btn-success">Submit</button>
       </div>
       
     
         <span>
             {{message}}
         </span>
</form>
  
</div>
</div> 


